<!doctype html>
<html lang="en" ng-app="myApp">
<% include header %>
   <body>
    <div class="centrador">
      <h1><%= title %></h1>
    </div>
    <div id="Contenedor1">
      <div class="row justify-content-center">
        <div class="col-auto">
            <h3><strong>¿Qué es Madrid de Bolsillo?</strong></h3>
        </div>
        <pre class="col-auto about-text">
          Madrid de Bolsillo es un proyecto desarrollado en el marco de la asignatura de Proyectos de Aplicaciones de las Tecnologías Geoespaciales, del Grado En Ingenieria De Las Tecnologias De La Informacion Geoespacial
          de la Universidad Politécnica de Madrid. 
          Dicho proyecto es la propuesta presentada por la estudiante Yaiza Muñoz (más información en <a href="/contacto">Contacto</a>).
          
          <strong>Propósito:</strong>
          
          La iniciativa de explorar y representar de manera accesible y práctica los diversos planes gastronómicos y culturales de Madrid hace que surja esta herramienta, no solo para encontrar planes por toda la Comunidad de Madrid, 
          si no que además al mejor precio posible, permitiendo encontrar los planes más asequibles.
          
          <strong>Objetivos:</strong>

          Buscamos ofrecer una guía útil tanto para gente local como para visitantes de la ciudad, destacando puntos de interés de precio asequible o gratuitos enfocados a personas y grupos de personas que busquen salir por Madrid
          sin que duela el bolsillo.
          
          - Difusión Cultural: Promover el conocimiento, tanto de los lugares emblemáticos como desconocidos de Madrid, siempre al mejor precio.
          - Accesibilidad: Una herramienta intuitiva y fácil de usar para planificar y descubrir la ciudad y sus alrededores.
          - Innovación Gráfica: Representamos la información de manera sencilla, atractiva y comprensible.
          
          Espero que <strong>Madrid de Bolsillo</strong> te sea una guía valiosa explorar la Comunidad de Madrid de una manera diferente y, sobre todo, ahorrándo. Porque, si hay algo mejor que visitar lugares en Madrid, es llevartelos al bolsillo.
        </pre>

          <div class="row col-auto">
            <button class="btn btn-secondary mt-3" id="confirmMarkerBtn" >
              <a href="https://www.topografia.upm.es/"><i class="fa-solid fa-graduation-cap">Web Escuela</a></i>
            </button>
          </div>

          <div class="row justify-content-center" style="margin-left: 10px;">
            <img src="https://www.topografia.upm.es/themes/comun/logos/ETSITopografia.png" style="margin-left: 5px; width: 200px;">
            <img src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/Logotipo/LOGOTIPO%20color%20PNG.png" style="width: 300px;">
          </div>

      </div>
    </div>
	<% include footer %>
  </body>  
</html>